table{
    border-collapse: collapse;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 920px;
    height: 340px;
    background-color: #d4d4d4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
}

.titulo{
    padding-top: 10px;
    padding-bottom: 10px;
}

td{
    text-align: left;
    color: #FFFFFF;
    background-color: #0068d0;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding-right: 80px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.azulbranco{
    text-align: center;
    padding-right: 0px;
    background-color: #006ab1;
    color: #000000;
}

.brancopreto{
    text-align: center;
    padding-right: 0px;
    background-color: #FFFFFF;
    color: #000000;
}

caption{
    text-align: right;
    color: #0068d0;
}